.header {
    background-color: #333;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: sans-serif;
    user-select: none;
    color: whitesmoke;
}

.title {
    margin-top: 8px;
    margin-left: 5px;
    float: left;
    width: 60px;
    cursor: pointer;
}
.title:hover, .title:active {
    opacity: 0.5;
}

.right {
    float: right;
    cursor: pointer;
    margin-top: 25px;
    transform: translate(0, -50%);
    margin-right: 5px;
}
.right:hover, .right:active {
    opacity: 0.5;
}

.link {
    text-decoration: none !important;
    margin-right: 25px;
}